:root {
  --color-body-text: #666666;
  --color-main-text: #024c80;
  --color-second-text: #fff;
  --color-headings: #f95500;
  --bg-color: #ecf2f8;
  font-size: 62.5%;
}
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Typograghy */

body {
  position: relative;
  font-family: "IRANSansWeb(FaNum)";
  font-size: 1.4rem;
  line-height: 2.5;
  direction: rtl;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  width: 100vw;
  @media screen and (min-width: 992px) {
    font-size: 1.6rem;
  }
}

h1,
h2,
h3 {
  color: var(--color-headings);
  margin: 0.7rem 0;
}
h2 {
  font-size: 2.4rem;
  @media screen and (min-width: 992px) {
    font-size: 3.2rem;
  }
}
h3 {
  font-size: 1.6rem;
  line-height: 24px;
  text-align: center;
  font-weight: 400;
  color: var(--color-main-text);
  @media screen and (min-width: 992px) {
    font-size: 2.2rem;
  }
}
p {
  margin-top: 0;
}
/* containers */
.container {
  margin: 0 auto;
  width: calc(100%- 32px);
  max-width: 500px;
  @media screen and (min-width: 576px) {
    width: calc(100% - 40px);
    max-width: 732px;
  }
  @media screen and (min-width: 768px) {
    width: calc(100% - 100px);
    max-width: 890px;
  }
  @media screen and (min-width: 992px) {
    width: calc(100% - 64px);
    max-width: 960px;
  }

  @media screen and (min-width: 1024px) {
    width: calc(100% - 180px);
    max-width: 1200px;
  }
  @media screen and (min-width: 1400px) {
    width: calc(100% - 340px);
    /* max-width: 1320px;
    min-width: 1100px; */
  }
}

/* Links */
a {
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: bold;
  @media (min-width: 768px) {
    font-size: 1.6rem;
  }
}
.link--dark {
  color: var(--color-main-text);
}
.link--light {
  color: var(--color-second-text);
}
/* TODO: hover effects */

/* List */
nav ul {
}
.list {
  list-style: none;
  width: 100%;
  /* display: flex;
  justify-content: flex-end;
  align-items: center; */
  /* margin-right: auto; */
  margin-left: 80px;
  @media screen and (min-width: 992px) {
    margin-left: 60px;
  }
}
.list.list--inline {
  /* display: flex; */
  justify-content: flex-end;
  align-items: center;
}
.list.list--column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}
.list--inline .list__item {
  display: inline-block;
  white-space: nowrap;
  padding: 0 10px;
  transition: transform 0.2s ease;
}
.list--thin {
  font-weight: 400;
}
.list__item:hover {
  transform: scale(1.1, 1.1);
}
/* Icons */
.icon {
  width: 20px;
  height: 20px;
}
.icon-container {
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.icon--btn {
  background-color: transparent;
  margin-left: 12px;
}
.icon--btn-large {
  background-color: var(--bg-color);
  width: 50px;
  height: 50px;
  margin-left: 16px;
}
.icon--btn-size {
  width: 25px;
  height: 25px;
}
.icon--footer {
  background-color: var(--color-second-text);
  width: 40px;
  height: 40px;
}
.icon--footer .icon--footer-size {
  width: 18px;
  height: 18px;
}

/* Buttons */
.btn {
  border: 0;
  cursor: pointer;
  font-weight: 700;
  text-align: center;
  white-space: nowrap;
  outline: none;
}

.btn--primary {
  line-height: 25px;
  font-size: 1.8rem;
  padding: 15px 4.6rem;
  border-radius: 55px;
  background: linear-gradient(270deg, #21409a 31.91%, #ce1878 100%);
  color: var(--color-second-text);
  @media screen and (min-width: 992px) {
    font-size: 1.6rem;
    padding: 1.2rem 4.6rem;
  }
}

.btn--primary:hover {
  background: #21409a;
}

.btn--secondary {
  line-height: 25px;
  font-size: 1.8rem;
  padding: 15px 4.6rem;
  border-radius: 55px;
  background: linear-gradient(270deg, #ff8601 31.91%, #fe1d00 100%);
  color: #fff;
  @media screen and (min-width: 992px) {
    font-size: 1.6rem;
    padding: 1.2rem 4.6rem;
  }
}
.btn--with-icon {
  display: flex;
  /* justify-content: center; */
  align-items: center;
}
.btn--secondary:hover {
  background: #ff8601;
}
.btn--outline {
  border-radius: 30px;
  font-size: 1.8rem;
  background: #ffffff;
  box-shadow: 0px 0px 20px rgba(13, 130, 232, 0.16);
  color: var(--color-main-text);
  padding: 5px 1rem;
  text-align: right;
}

.btn--outline:hover {
  background: var(--color-main-text);
  color: var(--bg-color);
}

.btn--large {
  width: 20%;
  /* display: inline-block; */
}

/* Grid */
.grid {
  display: grid;
}
.grid--1x2 {
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: 1fr;

  @media screen and (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }
}
.grid--1x3 {
  @media screen and (min-width: 998px) {
    grid-template-columns: repeat(3, 1fr);
  }
}
.grid--1x4 {
  @media screen and (min-width: 1024px) {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* ---------body---------- */
body::after {
  content: " ";
  display: block;
  position: absolute;
  top: 427px;
  right: 0;
  bottom: 0;
  width: 100%;
  z-index: -1;
  background: url(../Photos/Shape\ 591\ 1.png) no-repeat;
}

/* ---------Header--------- */
header {
  height: 122px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media screen and (min-width: 768px) {
    height: 124px;
  }
}
nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.brand {
  display: none;
  @media screen and (min-width: 300px) {
    width: 200px;
    display: inline-block;
  }
  width: 280px;
  @media screen and (min-width: 1024px) {
    width: 200px;
  }
  @media screen and (min-width: 1400px) {
    width: 280px;
  }
}

.brand img {
  max-width: 100%;
}
nav .icon {
  width: 40px;
  height: 40px;
  align-content: flex-end;
  @media screen and (min-width: 300px) {
    margin: 0.5rem;
  }
  @media screen and (min-width: 992px) {
    display: none;
  }
}
nav .list--inline {
  display: none;
  @media screen and (min-width: 992px) {
    display: flex;
  }
}
nav .btn {
  display: none;
  @media screen and (min-width: 992px) {
    display: inline-flex;
  }
}

/* -----------content--------------- */

.content-body-title {
  color: var(--color-headings);
}

/* ------ */ 
section {
  width: 100%;
  padding: 2rem 2rem;
}

/* -------------section1-------------- */

.section1 {
  padding: 1rem 2rem;
  position: relative;
  width: 100%;
  @media (min-width: 1200px) {
    padding: 4.4rem 2rem;
  }
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.content-lg-row {
  justify-content: space-between;
  @media screen and (min-width: 992px) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
.content-lg-col {
}

.section1 .content-body {
  flex: 0 0 50%;
  @media (min-width: 1200px) {
    flex: 0 0 544px;
  }
}
.content-body-text {
  margin-bottom: 4rem;
  text-align: justify;
  word-spacing: nowrap;
  color: var(--color-body-text);
  /* flex: 1 0 544px; */
}

.section1 .content-media {
  flex: 0 0 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.section1 .content-image {
  width: 250px;
  height: 250px;
  flex-grow: 0;
  background-image: url(../Photos/pic.png);
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  margin-bottom: 3.5rem;
  @media screen and (min-width: 567px) {
    width: 400px;
    height: 400px;
  }
  @media screen and (min-width: 992px) {
    margin-bottom: 4.5rem;
    width: 472px;
  }
}

.content-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 40px;
  @media screen and (min-width: 768px) {
    flex-wrap: nowrap;
    margin-bottom: 0;
  }
}
.content-media button {
  margin-bottom: 12px;
  margin-left: 24px;
  @media screen and (min-width: 576px) {
    margin-bottom: 24px;
    margin-left: 24px;
  }
}

/* ------------section2---------------*/
.section2 {
  padding: 3rem 2rem;
  position: relative;
  width: 100%;
  @media (min-width: 1200px) {
    padding: 4.4rem 2rem;
  }
}
.section2 .content-buttons {
  display: flex;
  flex-wrap: wrap;
}
.section2 .content-body-text {
  margin-bottom: 65px;
}
.section2-button > button {
  flex-shrink: 0;
  flex-basis: 100%;
  flex-grow: 1;
  @media screen and (min-width: 576px) {
    flex-grow: 1;
    flex-basis: 45%;
  }
  @media screen and (min-width: 768px) {
    flex-grow: 1;
    flex-basis: 32%;
  }
  @media screen and (min-width: 992px) {
    flex-grow: 0;
    flex-basis: 22%;
  }
  @media screen and (min-width: 1200px) {
    flex-grow: 0;
    flex-basis: 20%;
  }
  @media screen and (min-width: 1400px) {
    flex-grow: 0;
    flex-basis: 258px;
  }
}

/* ---------------section3------------------- */
.section3 {
  width: 100%;
  padding: 3rem 2rem;
  position: relative;
  background-image: url(../Photos/Shape\ 595\ 1.png);
  background-repeat: no-repeat;
  background-size: cover;
  @media (min-width: 1200px) {
    padding: 4.4rem 2rem;
  }
}
h3.content-body-text {
  margin: 45px 0;
  font-size: 1.8rem;
  line-height: 24px;
  text-align: center;
  font-weight: 400;
  color: var(--color-main-text);
  @media screen and (min-width: 992px) {
    font-size: 2.2rem;
  }
}

.section3 .content-image {
  width: 240px;
  height: 300px;
  position: relative;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../Photos/pic\ end-tem-1\ 1.png);
  @media (min-width: 567px) {
    width: 363px;
    height: 438px;
    position: relative;
  }
}

.section3 .content-media img:nth-child(1) {
  display: none;

  @media screen and (min-width: 768px) {
    display: inline-block;
    position: absolute;
    height: 70px;
    width: 200px;
    top: 110px;
    left: -60px;
  }
}
.section3 .content-media img:nth-child(2) {
  display: none;
  @media screen and (min-width: 768px) {
    display: inline-block;
    position: absolute;
    height: 70px;
    width: 200px;
    top: 145px;
    right: -60px;
  }
}

/* ------------------footer----------------------*/
footer {
  padding: 30px 0 0 0;
  width: 100%;
  color: var(--color-second-text);
  height: auto;
  background: linear-gradient(283.1deg, #000428 9.04%, #004e92 80.06%);
  @media screen and (min-width: 1200px) {
    width: 100%;
    height: 230px;
  }
}

.row {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  @media (min-width: 992px) {
    flex-direction: row;
  }
}

.footer-col {
  flex: 1 1 auto;
  width: 100%;
  height: 100%;
  padding: 0 25px;
  @media (min-width: 768px) {
    width: 50%;
  }
  @media (min-width: 992px) {
    margin-bottom: 20px;
    width: 20%;
  }
}

.footer-brand {
  max-width: 100%;
  height: auto;
}
.prefooter {
  /* padding: 30px 0; */
  height: auto;
  @media (min-width: 1400px) {
    /* height: 140px; */
  }
}
.pre-footer img {
  display: none;
  @media (min-width: 567px) {
    max-width: 260px;
    display: inline-block;
  }
  @media (min-width: 768px) {
    width: 100%;
  }
}
.footer {
  padding-top: 20px;
  padding-bottom: 8px;
  height: auto;
  @media (min-width: 1400px) {
    /* height: 66px; */
  }
}
.hline-100 {
  width: 100%;
  height: 0;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}
.copyright {
  display: flex;
  flex: 1 1 50%;
  margin: 0;
  align-items: center;
}

.copyright img {
  margin: 0;
  width: 30px;
  height: 30px;
  @media (min-width: 768px) {
    margin-left: 15px;
  }
}
.social {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex: 1 1 50%;
  margin: 0;
  transition: transform 262ms ease-in;
  @media (min-width: 567px) {
    justify-content: flex-end;
  }
}
.social a {
  margin-right: 10px;
}
.social a:hover {
  transform: rotate(25deg) scale(1.1, 1.1);
}
