:root {
  --color-body-text: #666666;
  --color-main-text: #024c80;
  --color-second-text: #fff;
  --color-headings: #f95500;
  --bg-color: #ecf2f8;
  font-size: 62.5%;
}
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Typograghy */
html {
  font-size: 62.5%;
}
body {
  font-family: "IRANSansWeb(FaNum)";
  font-size: 1.6rem;
  line-height: 2.5;
  direction: rtl;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  width: 100vw;
}
h1,
h2,
h3 {
  color: var(--color-headings);
  margin: 0.7rem 0;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.2rem;
}
p {
  margin-top: 0;
}
/* containers */
.container {
  margin: 0 auto;
  width: calc(100% - 36px);
  max-width: 732px;
  @media screen and (min-width: 768px) {
    width: calc(100% - 272px);
    max-width: 720px;
  }
  @media screen and (min-width: 992px) {
    width: calc(100% - 64px);
    max-width: 960px;
  }

  @media screen and (min-width: 1024px) {
    width: calc(100% - 170px);
    max-width: 1200px;
  }
  @media screen and (min-width: 1400px) {
    width: calc(100% - 340px);
    max-width: 1320px;
  }
}

/* Links */
a {
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: bold;
}
.link--dark {
  color: var(--color-main-text);
}
.link--light {
  color: var(--color-second-text);
}
/* TODO: hover effects */

/* List */
nav ul {
}
.list {
  list-style: none;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  /* margin-right: auto; */
  margin-left: 80px;
  @media screen and (min-width: 992px) {
    margin-left: 60px;
  }
}

.list--inline .list__item {
  display: inline-block;
  white-space: nowrap;
  padding: 0 10px;
}
.list--thin {
  font-weight: 400;
}

/* Icons */
.icon {
  width: 20px;
  height: 20px;
}
.icon-container {
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.icon--btn {
  background-color: transparent;
  width: 50px;
  height: 50px;
  margin-left: 12px;
}
.icon--btn-large {
  background-color: var(--bg-color);
  width: 50px;
  height: 50px;
  margin-left: 16px;
}
.icon--btn-size {
  width: 25px;
  height: 25px;
}
.icon--footer {
  background-color: var(--color-second-text);
  width: 40px;
  height: 40px;
}
.icon--footer .icon--footer-size {
  width: 18px;
  height: 18px;
}

/* Buttons */
.btn {
  border: 0;
  cursor: pointer;
  font-weight: 700;
  text-align: center;
  white-space: nowrap;
  outline: none;
}

.btn--primary {
  padding: 10px 4.5rem;
  border-radius: 55px;
  font-size: 1.6rem;
  background: linear-gradient(270deg, #21409a 31.91%, #ce1878 100%);
  color: var(--color-second-text);
}

.btn--primary:hover {
  background: #21409a;
}

.btn--secondary {
  padding: 10px 1.6rem;
  border-radius: 55px;
  font-size: 1.6rem;
  background: linear-gradient(270deg, #ff8601 31.91%, #fe1d00 100%);
  color: #fff;
}
.btn--icon {
  display: flex;
  /* justify-content: center; */
  align-items: center;
}
.btn--secondary:hover {
  background: #ff8601;
}
.btn--outline {
  border-radius: 30px;
  font-size: 1.8rem;
  background: #ffffff;
  box-shadow: 0px 0px 20px rgba(13, 130, 232, 0.16);
  color: var(--color-main-text);
  padding: 5px 1rem;
  text-align: right;
}

.btn--outline:hover {
  background: var(--color-main-text);
  color: var(--bg-color);
}

.btn--large {
  width: 20%;
  /* display: inline-block; */
}

/* content */
.content {
  display: flex;
}
.content-row {
  flex-direction: row;
}
.content-column {
  flex-direction: column;
}
.content-body-title {
  color: var(--color-headings);
}
.content-body-text {
  color: var(--color-body-text);
}

/* Grid */
.grid {
  display: grid;
}
.grid--col-2 {
  @media screen and (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }
}
.grid--col-3 {
  @media screen and (min-width: 998px) {
    grid-template-columns: repeat(3, 1fr);
  }
}
.grid--col-4 {
  @media screen and (min-width: 1024px) {
    grid-template-columns: repeat(3, 1fr);
  }
}
/* ------------ */
header {
  height: 122px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media screen and (min-width: 768px) {
    height: 124px;
  }
}
nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.brand {
  width: 280px;
  display: inline-block;
  /* vertical-align: middle; */
  @media screen and (min-width: 1024px) {
    width: 200px;
  }
  @media screen and (min-width: 1400px) {
    width: 280px;
  }
}
.brand img {
  max-width: 100%;
  /* height: auto; */
}

nav .icon {
  width: 40px;
  height: 40px;
  margin: 0.5rem;
  @media screen and (min-width: 992px) {
    display: none;
  }
}
nav .list--inline {
  display: none;
  @media screen and (min-width: 992px) {
    display: flex;
  }
}
nav .btn {
  display: none;
  @media screen and (min-width: 992px) {
    display: inline-flex;
  }
}

/* section-1 */
.section-1 {
  height: auto;
  background-color: #024c80;
  @media screen and (min-width: 768px) {
    height: 625px;
  }
}
.section-2 {
  height: auto;
  /* position: relative; */
  background-color: pink;

  @media screen and (min-width: 768px) {
    height: 625px;
  }
}
.section-3 {
  height: auto;
  /* position: relative; */
  background-color: gold;

  @media screen and (min-width: 768px) {
    height: 625px;
  }
}
/* section .bg{
  width: 100%;
  position: absolute;
  bottom: 0;
} */
.section-1 .bg {
  height: 765px;
  width: 100%;
  position: absolute;
  bottom: 0;
  right: 50%;
}
.section-3 .bg {
  height: 752px;
  width: 100%;
  position: absolute;
  bottom: 0;
  right: 50%;
}
footer {
  height: auto;
  background-color: dodgerblue;
  @media screen and (min-width: 768px) {
    height: 208px;
  }
}
