<footer>
    <div class="prefooter">
      <div class="container">
        <div class="row">
          <div class="footer-col">
            <a href="/"><img class="footer-brand" src="Photos/footer-logo.png" alt="" /></a>
          </div>
          <div class="footer-col">
            <ul class="list list--column">
              <li class="list__item"><a class="link--light" href="#">صفحه اصلی بانک</a></li>
              <li class="list__item"><a class="link--light" href="#">بانکداری الکترونیک</a></li>
            </ul>
          </div>
          <div class="footer-col">
            <ul class="list list--column">
              <li class="list__item"><a class="link--light" href="#">درباره ما</a></li>
              <li class="list__item"><a class="link--light" href="#">ورود به حساب کاربری</a></li>
            </ul>
          </div>
          <div class="footer-col">
            <ul class="list list--column">
              <li class="list__item"><a class="link--light" href="#">ارتباط با ما</a></li>
              <li class="list__item"><a class="link--light" href="#">اسامی پذیرفتگان استخدامی</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="hline-100"></div>
      <div class="footer">
        <div class="container">
          <div class="row">
            <div class="footer-col copyright">
              <img src="Photos/small-logo.png" alt="">
              <h4>تمامی حقوق این سایت متعلق به بانک رفاه می باشد.</h4>
            </div>
            <div class="footer-col social">
              <span class="icon-btn-size">
                <a class="icon-container icon--btn-large" href="#">
                  <img src="Photos/insta.png" alt="">
                </a>
              </span>
              <a class="icon-btn-size">
                <a class="icon-container icon--btn-large"  href="#">
                  <img src="Photos/outlook.png" alt="">
                </span>
              </span>
              <span class="icon-btn-size">
                <a class="icon-container icon--btn-large"  href="#">
                  <img src="Photos/aparat.png" alt="">
                </a>
              </span>
              <span class="icon-btn-size">
                <a class="icon-container icon--btn-large"  href="#">
                  <img src="Photos/linkedin.png" alt="">
                </a>
              </span>
              <span class="icon-btn-size">
                <a class="icon-container icon--btn-large"  href="#">
                  <img src="Photos/youtube.png" alt="">
                </a>
              </span>
            </div>
          </div>

        </div>
      </div>
    </div>
  </footer>