<header class="container">
    <nav class="nav">
      <a  href="/"><img class="brand" src="Photos/لوگو.png" alt="" /></a>
      <svg class="icon">
        <use xlink:href="Photos/sprite.svg#menu-hamburger"></use>
      </svg>
      <ul class="list list--inline">
        <li class="list__item">سایت بانک</li>
        <li class="list__item">درباره ما</li>
        <li class="list__item">شرایط استخدامی</li>
        <li class="list__item">قوانین و مقررات</li>
        <li class="list__item">ارتباط با ما</li>
    </ul>
    <button class="btn btn--primary btn--icon">
      <span class="icon-container">
        <svg class="icon--btn-size">
          <use xlink:href="Photos/sprite.svg#user"></use>
        </svg>
      </span>
      <span>ورود</span>
    </button>
    </nav>
   </header>