<section class="section3">
    <div class="container">
      <div class="content content-lg-col">
        <div class="content-body">
          <h2 class="content-body-title">فرم‌های استخدامی شما</h2>
          <h3 class="content-body-text">
            اگر تا الان برای ما فرم های استخدامی ارسال کردی، میتونی هم ویرایش کنی و هم پیگیری
          </h3>
        </div>
        <div class="content-media">
          <div class="content-buttons">
            <button class="btn btn--primary">ویرایش جذب</button>
            <button class="btn btn--secondary">پیگیری جذب</button>
          </div>
          <div class="content-image">
            <img src="Photos/pic end-tem-1 1.png" alt="pic" />
            <img src="Photos/Tooltip V1.svg" alt="Tooltip">
            <img src="Photos/Tooltip V2.svg" alt="Tooltip">
          </div>
        </div>
      </div>
    </div>
  </section>